body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

#search-section {
    padding: 20px;
    text-align: center;
}

#search-input {
    padding: 10px;
    font-size: 24px;
    border: 2px solid black;
}

#search-results {
    margin-top: 20px;
}

footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:blue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }

.button:hover {background-color: blue;}

.button:active {
  background-color: #f10000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
